<h1>{{registro.Cliente}} <small> {{registro.aparicion}}</small>
</h1>
<hr>

<div class="row">

    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Cliente: {{registro.Cliente}}</h5>
            <p class="card-text">Fecha: {{registro.Fecha}}</p>
            <p class="card-text">Codigo: {{registro.Codigo}}</p>
            <p class="card-text">Telefono: {{registro.Telefono}}</p>
            <p class="card-text">Descripcion: {{registro.Descripcion}}</p>

            <br>

        </div>
    </div>
</div>