<h1 class="main-container">Registros



</h1>
<hr>
<div class="col animated fadeIn fast" *ngFor="let registro of registros; let i = index">



    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Cliente: {{registro.Cliente}}</h5>
                    <p class="card-text">Fecha: {{registro.Fecha}}</p>
                    <p class="card-text">Codigo: {{registro.Codigo}}</p>
                    <p class="card-text">Telefono: {{registro.Telefono}}</p>

                    <button (click)="verRegistros(i)" type="button" class="btn btn-primary">Ver Registro</button>

                    <br>

                </div>
            </div>

        </div>
    </div>
</div>