<div class="square">
    <div class="container">
        <h2>Agregar Registro</h2>
        <form class="row g-3 mt-4">
            <div class="col-12 ">
                <label for="inputCodigo" class="form-label">Codigo </label>
                <input type="text" class="form-control" id="inputCodigo">
            </div>
            <div class="col-12 ">
                <label for="inputFecha" class="form-label">Fecha</label>
                <input type="text" class="form-control" id="inputFecha">
            </div>
            <div class="col-12 ">
                <label for="inputCliente" class="form-label">Cliente</label>
                <input type="text" class="form-control" id="inputCliente">
            </div>
            <div class="col-12 ">
                <label for="inputTelefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="inputTelefono">
            </div>
            <div class="col-12 ">
                <label for="inputDescripcion" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="inputDescripcion">
            </div>

            <div class="col-12 ">
                <button (click)="onSubmitForm()" type="button" class="btn btn-primary">Agregar</button>
            </div>

        </form>
    </div>
</div>